h1 {
  font-family: 'Gruppo';
  font-size: 100px;
  text-align: center;
  letter-spacing: 3px;
}
.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #00FF00,
    0 0 80px #00FF00,
    0 0 90px #00FF00,
    0 0 100px #00FF00,
    0 0 150px #00FF00;
}
p {
  font-family: 'Gruppo';
  font-size: 22px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  justify-content: center;
  transform: rotate(180deg);
}

.column img {
  margin-top: 8px;
  vertical-align: center;
  opacity: 0.5;
  -webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.column img:hover {
  opacity: 1.0;
  -webkit-filter: blur(0);
  filter: blur(0);
  box-shadow: 
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #00FF00,
    0 0 80px #00FF00,
    0 0 90px #00FF00,
    0 0 100px #00FF00,
    0 0 150px #00FF00;
}

.container {
  position: absolute;
  vertical-align: left;
  height:50%;
  width:50%;
}

/* Make the image responsive */
.container img {
  width: auto;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  width: 40%;
  height: 40%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: Transparent;
  color: white;
  padding: 2px 2px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
};